* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f9f9ff;
    color: #111;
		height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo img {
		width: 71px;
	  height: 69px;
		justify-content: center;
}

.container {
		display: flex;
		flex-direction: column;
    background-color: transparent;
    padding: 20px;
    text-align: center;
		align-items: center;
		margin-top: 60px;
}

.container h1 {
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
		width: 620px;
}

.form label {
    font-weight: 600;
		font-size: 18px;
}

.form input {
    padding: 9px 16px 9px 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 20px;
		height: 49px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #0062ff, #0a58ca);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 800;
    cursor: pointer;
    transition: background 0.3s;
		height: 58px;
		font-size: 22px;
}

.form button:hover {
    background: linear-gradient(to right, #0052d4, #0044aa);
}

.cadastro {
    margin-top: 20px;
    font-size: 18px;
		font-weight: 600;
}

.cadastro a {
    color: #0062ff;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: #111b3f;
		margin: 5px 0px;
}

.radio-button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
}

.radio-button input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #111b3f;
    display: inline-block;
    position: relative;
}

.radio-button input[type="radio"]:checked + .custom-radio {
    background: linear-gradient(to bottom, #001845, #0a58ca);
    border-color: transparent;
}

.form div{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 40px;
}

.btn {
  background: linear-gradient(to right, #0066ff, #3366ff);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  transition: background 0.3s;
	font-size: 25px;
}

.btn:hover {
  background: linear-gradient(to right, #0044cc, #0033cc);
}

