<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="/css/catalogo.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/consumidor/home}">Home</a></li>
                <li><a th:href="@{/consumidor/educacional}">Educacional</a></li>
                <li><a th:href="@{/consumidor/catalogo}" class="active">Catálogo de Serviços</a></li>
                <li><a th:href="@{/consumidor/equipe}">Sobre Nós</a></li>
            </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a th:href="@{/consumidor/perfil}">Perfil</a>
				    <a th:href="@{/consumidor/sair}">Sair</a>
				  </div>
				</div>
    </header>
		
    <main class="container">
			<div class="search-box" style="position: relative;">
		    <form action="/consumidor/buscarServico" method="get" class="search-form">
		        <input type="text" name="nome" placeholder="Pesquisar Serviço" />
		        <button class="search-btn" type="submit">
		            <img src="/imagem/lupa.png" alt="Logo">
		        </button>
		    </form>
			</div>


        <div class="section">
            <div class="section-header">
                <h2>Serviços</h2>
            </div>
            <div class="card-grid">
                <div class="card" th:each="servico : ${servicos}">
                    <div class="card-header">
                        <h3 th:text="${servico.NomeServico}"></h3>
												<label class="heart-checkbox">
													<a th:href="@{/consumidor/{id}/alterarServico(id=${servico.id})}">
												  <input type="checkbox"  th:checked="${servico.isFavoritadoPorUsuario}" />
												  <svg
												    class="heart"
												    viewBox="0 0 24 24"
												    fill="none"
												    stroke="#333"
												    stroke-width="2"
												    stroke-linecap="round"
												    stroke-linejoin="round"
												  >
												    <path
												      d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 
												      5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 
												      1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
												    />
												  </svg>
													</a>
												</label>
                    </div>
										<p th:text="${servico.Descricao}"></p>
										<p th:text="${#numbers.formatCurrency(servico.Preco)}"></p>
                    <a th:href="@{/consumidor/{id}/servico(id=${servico.id})}" class="card-link">Ver Mais...</a>
                </div>
            </div>
        </div>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
