<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
    <link rel="stylesheet" href="/css/servicoindividual.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
          <ul class="nav-links">
            <li><a th:href="@{/prestador/home}">Home</a></li>
            <li><a th:href="@{/prestador/educacional}" class="active">Educacional</a></li>
            <li><a th:href="@{/prestador/equipe}">Sobre Nós</a></li>
          </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a th:href="@{/prestador/perfil}">Perfil</a>
				    <a th:href="@{/prestador/sair}">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
			<div class="section">
       <div class="section-header">
          <h2>Curso: XPTO</h2>
       </div>
         <p>Descrição: Lorem ipsum is simply dummy text of the printing and typesetting industry...</p>
				 <p>Categoria: asdasdsad</p>
				 <p>Link: </p>
       </div>
    </main>
		<script src="/js/script.js"></script>s
</body>
</html>
