<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educacional</title>
    <link rel="stylesheet" href="/css/educacional.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
          <ul class="nav-links">
            <li><a th:href="@{/administrador/home}">Home</a></li>
            <li><a th:href="@{/administrador/educacional}" class="active">Educacional</a></li>
            <li><a th:href="@{/administrador/equipe}">Sobre Nós</a></li>
          </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a href="/perfil">Perfil</a>
				    <a href="/logout">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
        <div class="section">
          <div class="section-header">
              <h2>Cursos</h2>
              <a th:href="@{/administrador/cursos}" class="link">Ver Todos</a>
          </div>
          <div class="card-grid">
            <div class="card">
              <div class="card-header">
                <h3>Curso XPTO</h3>
		          </div>
		          <p>Lorem ipsum is simply dummy text of the printing and typesetting industry...</p>
		          <p>Fundação Bradesco</p>
		          <a href="#" class="card-link">Ver Mais...</a>
		        </div>
        	</div>
        </div>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
