<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/css/equipe.css">
</head>
<body>

    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/administrador/usuarios}">Home</a></li>
                <li><a th:href="@{/administrador/educacional}">Educacional</a></li>
                <li><a th:href="@{/administrador/equipe}" class="active">Sobre Nós</a></li>
            </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
						<a th:href="@{/administrador/perfil}">Perfil</a>
						<a th:href="@{/administrador/sair}">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
        <div class="card-grid">
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/membro1.jpg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Alessandro Caputo Brecco Guirao</h3>
				      <p>RA 1840482123051</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/alexandre.jpeg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Alexandre lemes de Santana Filho</h3>
				      <p>RA 1840482212027</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/bianca.jpeg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Bianca Lopes Gonçalves de Morais</h3>
				      <p>RA 1840482212002</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/daniel.jpeg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Daniel Serdoz Pereira</h3>
				      <p>RA 1840482123050</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/membro2.jpg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Gabriel Almeida Gonçalves Candido</h3>
				      <p>RA 1840482212015</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/FotoPerfil_Gustavo.jpeg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Gustavo Moura da Costa</h3>
				      <p>RA 1840482112018</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/pietra.jpeg" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Pietra Rossi Alves Coutinho</h3>
				      <p>RA 1840482222046</p>
				    </div>
				  </div>
					<div class="card">
				    <div class="card-header">
				      <img src="/imagem/fotofundo.png" alt="Fundo">
				    </div>
				    <div class="profile-pic">
				      <img src="/imagem/vini.jfif" alt="Perfil">
				    </div>
				    <div class="card-body">
				      <h3>Vinicius Huang</h3>
				      <p>RA 1840482212043</p>
				    </div>
				  </div>
        </div>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
