<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/css/formpresta.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
          <ul class="nav-links">
            <li><a th:href="@{/administrador/usuarios}">Home</a></li>
            <li><a th:href="@{/administrador/educacional}">Educacional</a></li>
            <li><a th:href="@{/administrador/equipe}">Sobre Nós</a></li>
          </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a href="/perfil">Perfil</a>
				    <a href="/logout">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
			<h1><label th:text="${novo} ?'Novo ' : 'Editar '"></label> Curso</h1>
        <form class="form" th:action="@{/administrador/saveCurso}" th:object="${cursoDTO}" method="post">
					<input type="hidden" th:field="*{id}"/>
					
					<label for="nome">Nome do Curso:</label>
				  <input type="text" id="curso" placeholder="Insira o nome do curso" th:field="*{nome}" required>
				
          <label for="descricao">Descrição:</label>
          <input type="text" id="descricao" placeholder="Insira a descrição" th:field="*{descricao}" required>

					<label for="descricao">Categoria:</label>
					<input type="text" id="categoria" placeholder="Insira a categoria" th:field="*{NomeCategoria}" required>
					
					<label for="valor">Link:</label>
          <input type="text" id="valor" placeholder="Insira o link" th:field="*{linkCurso}" required>
					
					<div>
						<button type="submit" class="btn">Salvar</button>
						<a th:href="@{/administrador/educacional}" class="btn">Voltar</a>
					</div>
        </form>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
