<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homeadministrador.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/administrador/home}" class="active">Home</a></li>
                <li><a th:href="@{/administrador/educacional}">Educacional</a></li>
                <li><a th:href="@{/administrador/equipe}">Sobre Nós</a></li>
            </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a th:href="@{/administrador/perfil}">Perfil</a>
				    <a th:href="@{/administrador/sair}">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
      <div class="section">
        <div class="section-header">
            <h2>Usuários</h2>
        </div>
        <div class="card-grid">
          <div class="card" th:each="usuario : ${usuarios}" onclick="selecionarCard(this)">
						<div class="card-header">
                  <h3 th:text="${usuario.nome}"></h3>
              </div>
              <p th:text="${usuario.email}"></p>
							<p th:text="${usuario.papel}"></p>
							<div class="card-actions">
					     	<a class="edit-btn" th:href="@{/administrador/{id}/edit(id=${usuario.id})}">Editar</a>
					     	<a class="delete-btn" th:href="@{/administrador/{id}/delete(id=${usuario.id})}">Excluir</a>
					   	</div>
          </div>
        </div>
      </div>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
