<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/formpresta.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
          <ul class="nav-links">
            <li><a th:href="@{/administrador/home}">Home</a></li>
            <li><a th:href="@{/administrador/educacional}">Educacional</a></li>
            <li><a th:href="@{/administrador/equipe}">Sobre Nós</a></li>
          </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a th:href="@{/administrador/perfil}">Perfil</a>
				    <a th:href="@{/administrador/sair}">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
			<h1>Perfil</h1>
        <form class="form" th:action="@{/administrador/save}" th:object="${usuario}" method="post">
					<input type="hidden" th:field="*{id}"/>
					
					<label for="nome">Nome:</label>
				  <input type="text" id="servico" placeholder="Insira o nome" th:field="*{nome}" required>
				
          <label for="descricao">Email:</label>
          <input type="email" id="descricao" placeholder="Insira o email" th:field="*{email}" required>

          <label for="valor">Senha:</label>
          <input type="text" id="valor" placeholder="Insira a senha" th:field="*{senha}" required>
					
					<div>
						<button type="submit" class="btn">Salvar</button>
					</div>
        </form>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
