<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
    <link rel="stylesheet" href="/css/servicoindividual.css">
</head>
<body>
    <header class="header">
        <div class="logo">
					<a th:href="@{/administrador/index}">
						<img src="/imagem/logo.png" alt="Logo">
					</a>
        </div>
        <nav>
          <ul class="nav-links">
            <li><a th:href="@{/consumidor/home}">Home</a></li>
            <li><a th:href="@{/consumidor/educacional}">Educacional</a></li>
						<li><a th:href="@{/consumidor/catalogo}" class="active">Catálogo de Serviços</a></li>
            <li><a th:href="@{/consumidor/equipe}">Sobre Nós</a></li>
          </ul>
        </nav>
				<div class="dropdown">	  
					<img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
				  <div id="myDropdown" class="dropdown-content">
				    <a th:href="@{/consumidor/perfil}">Perfil</a>
				    <a th:href="@{/consumidor/sair}">Sair</a>
				  </div>
				</div>
    </header>

    <main class="container">
			<div class="section" th:objetc="${dto}">
       <div class="section-header">
          <h2>Serviço:<label th:text="${dto.Nome}"></label></h2>
       </div>
         <p th:text="${dto.Descricao}"></p>
				 <p>Whatsapp: <label th:text="${}"></label></p>
				 <p>Preço: <label th:text="${dto.Valor}"></label></p>
       </div>
    </main>
		<script src="/js/script.js"></script>
</body>
</html>
