<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço</title>
    <link rel="stylesheet" href="/css/servicoindividual.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a th:href="@{/administrador/index}">
                <img src="/imagem/logo.png" alt="Logo">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a th:href="@{/consumidor/home}">Home</a></li>
                <li><a th:href="@{/consumidor/educacional}">Educacional</a></li>
                <li><a th:href="@{/consumidor/catalogo}" class="active">Catálogo de Serviços</a></li>
                <li><a th:href="@{/consumidor/equipe}">Sobre Nós</a></li>
            </ul>
        </nav>
        <div class="dropdown">	  
            <img src="/imagem/Group.png" alt="Profile" class="dropbtn" onclick="toggleDropdown()">
            <div id="myDropdown" class="dropdown-content">
                <a th:href="@{/consumidor/perfil}">Perfil</a>
                <a th:href="@{/consumidor/sair}">Sair</a>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="section" th:object="${dto}">
            <div class="section-header">
                <h2>Serviço: <span th:text="*{nomeServico}"></span></h2>
            </div>
            <p><strong>Descrição:</strong></p>
            <p th:text="*{descricao}"></p>
            <p><strong>Preço:</strong> <span th:text="'R$: ' + ${#numbers.formatDecimal(dto.valor, 1, 'POINT', 2, 'COMMA')}"></span></p>
            <p><strong>Cidade:</strong> <span th:text="*{cidade}"></span>, <span th:text="*{nomeEstado}"></span></p>
			<p>
			  <strong>Prestador:</strong>
			  <span th:text="*{nomePrestadorServico}"></span>
			  <p>
			    <strong>Contato:</strong>
			    <span th:text="'(' + ${dto.numeroWhatsAppPrestadorServico.substring(0, 2)} + ') ' 
			                      + ${dto.numeroWhatsAppPrestadorServico.substring(2, 7)} + '-' 
			                      + ${dto.numeroWhatsAppPrestadorServico.substring(7)}"></span>
			  </p>
			</p>

        </div>
    </main>
    
    <script src="/js/script.js"></script>
</body>
</html>
